<!doctype html>
<html>
<head>
	{{ partial "meta.html" . }}
	<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
		<script>
		document.addEventListener("DOMContentLoaded", function() {
			const lightbox = GLightbox({
			selector: '.glightbox',
			touchNavigation: true,
			loop: true,
			scrollLock: false
			});
		});
		</script>
</head>

<body>
	{{ partial "nav.html" }}
 	{{ block "main" . }} 	
 	{{ end }}
 	{{ partial "footer.html" . }}
</body>
</html>