<div class="image-hover">
    <img src='/images/gallery/Test/edited/4.jpg' onmouseover="this.src='/images/gallery/Test/4.jpg';" onmouseout="this.src='/images/gallery/Test/edited/4.jpg';" alt="Henry-1">
    <img src='/images/gallery/Test/edited/2.jpg' onmouseover="this.src='/images/gallery/Test/2.jpg';" onmouseout="this.src='/images/gallery/Test/edited/2.jpg';" alt="Henry-2">
    <img src='/images/gallery/Test/edited/3.jpg' onmouseover="this.src='/images/gallery/Test/3.jpg';" onmouseout="this.src='/images/gallery/Test/edited/3.jpg';" alt="Henry-2">
</div>

<!--<img src="/images/gallery/Test/edited/3.jpg" alt="Default Image" class="default-image">
    <img src="/images/gallery/Test/3.jpg" alt="Hover Image" class="hover-image">
    <img src="/images/gallery/Test/edited/1.jpg" alt="Default Image" class="default-image">
    <img src="/images/gallery/Test/1.jpg" alt="Hover Image" class="hover-image">
    <img src="/images/gallery/Test/edited/5.jpg" alt="Default Image" class="default-image">
    <img src="/images/gallery/Test/5.jpg" alt="Hover Image" class="hover-image">
--> 