<div class="image-hover">
    <img src='/images/gallery/Uni/edited/4.jpg' onmouseover="this.src='/images/gallery/Uni/4.jpg';" onmouseout="this.src='/images/gallery/Uni/edited/4.jpg';" alt="Henry-1">
    <img src='/images/gallery/Uni/edited/2.jpg' onmouseover="this.src='/images/gallery/Uni/2.jpg';" onmouseout="this.src='/images/gallery/Uni/edited/2.jpg';" alt="Henry-2">
    <img src='/images/gallery/Uni/edited/3.jpg' onmouseover="this.src='/images/gallery/Uni/3.jpg';" onmouseout="this.src='/images/gallery/Uni/edited/3.jpg';" alt="Henry-3">
    <img src='/images/gallery/Uni/edited/6.jpg' onmouseover="this.src='/images/gallery/Uni/6.jpg';" onmouseout="this.src='/images/gallery/Uni/edited/6.jpg';" alt="Henry-6">
</div>

<!--<img src="/images/gallery/Uni/edited/3.jpg" alt="Default Image" class="default-image">
    <img src="/images/gallery/Uni/3.jpg" alt="Hover Image" class="hover-image">
    <img src="/images/gallery/Uni/edited/1.jpg" alt="Default Image" class="default-image">
    <img src="/images/gallery/Uni/1.jpg" alt="Hover Image" class="hover-image">
    <img src="/images/gallery/Uni/edited/5.jpg" alt="Default Image" class="default-image">
    <img src="/images/gallery/Uni/5.jpg" alt="Hover Image" class="hover-image">
--> 