<!--<img src='/images/gallery/Vietnam/edited/7.jpg' onmouseover="this.src='/images/gallery/Vietnam/7.jpg';" onmouseout="this.src='/images/gallery/Vietnam/edited/7.jpg';" alt="Henry-7" style="width: 100%; height: auto;"> -->

<div class="image-hover">
    <img src='/images/gallery/Vietnam/edited/1.jpg' onmouseover="this.src='/images/gallery/Vietnam/1.jpg';" onmouseout="this.src='/images/gallery/Vietnam/edited/1.jpg';" alt="Vietnam-1">
    <img src='/images/gallery/Vietnam/edited/5.jpg' onmouseover="this.src='/images/gallery/Vietnam/5.jpg';" onmouseout="this.src='/images/gallery/Vietnam/edited/5.jpg';" alt="Henry-5">
</div>

<!--<img src="/images/gallery/Vietnam/edited/3.jpg" alt="Default Image" class="default-image">
    <img src="/images/gallery/Vietnam/3.jpg" alt="Hover Image" class="hover-image">
    <img src="/images/gallery/Vietnam/edited/1.jpg" alt="Default Image" class="default-image">
    <img src="/images/gallery/Vietnam/1.jpg" alt="Hover Image" class="hover-image">
    <img src="/images/gallery/Vietnam/edited/5.jpg" alt="Default Image" class="default-image">
    <img src="/images/gallery/Vietnam/5.jpg" alt="Hover Image" class="hover-image">
--> 